.HeroSectionContainer {
    height: 350px;
    width: 100vw;
    background-color: #F9FAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.HeroSectionContainer h1 {
    margin-bottom: 0px;
    font-size: 40px;
    font-weight:600;
}