.ServicesSection{
    height: 800px;
    width:70%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    margin: 40px auto;
    margin-right: 50px;
}

.Heading {
    margin-left: 130px;
}

.Container{
    display: flex;
}

.Copy{
    margin-top: 150px;
    margin-left:100px;
}