.ServicesSection{
    height: 800px;
    width:70%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -50px;
    margin: 40px auto;
    
}

.Heading {
    margin-left: 130px;
}