.Profile_container{
    min-height: 550px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 

.Image_container {
    margin-right: 210px;
    margin-bottom: 30px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 8px hsla(0, 0%, 0%, 0.2);
}

.Image_container img {
    height: 300px;
}

.Profile_description {
    width: 1100px;
    margin-right: 50px;
    line-height: 26px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.Heading {
    margin-left: 130px;
}