.Container {
	height: 550px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.Profile_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100vw;
	overflow: hidden;
}

.Image_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 0.2s linear;
}

.Image_container h1 {
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
}

.Image_container p {
	display: flex;
	justify-content: center;
}

.SubImage {
	margin-bottom: 10px;
	border-radius: 50%;
	margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 0px;
	height: 280px;
	width: 300px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 5px 8px hsla(0, 0%, 0%, 0.2);
}

.SubImage img {
	height: 300px;
}

.Profile_description {
	width: 1100px;
	margin-left: 50px;
	line-height: 26px;
	font-size: 16px;
	color: rgb(0, 0, 0);
}


.Heading {
	margin-left: 130px;
}

@media only screen and (max-width: 1400px) {
	.Profile_container {
		height: 550px;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100vw;
		overflow: hidden;
	}

	.Profile_description {
		width: 70%;
		margin-left: 30px;
		margin-right: 20px;
		line-height: 22px;
		font-size: 15px;
		color: rgb(0, 0, 0);
	}
}

@media only screen and (max-width: 500px) {
	.Container {
		height: 450px !important;
		margin-bottom: 10px;
	}

	.Container h1 {
		margin-left: 30px;
	}

	.Profile_container {
		margin-left: 20px;
		margin-top: 0px;
		height: 100%;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100vw;
		overflow: hidden;
	}

	.SubImage {
		margin-left: 10px;
		height: 140px;
		width: 120px;
	}

	.SubImage img {
		height: 200px;
	}
	.Profile_description {
		width: 80%;
		margin-right: 50px;
		line-height: 22px;
		font-size: 15px;
		color: rgb(0, 0, 0);
	}

	.Image_container h1 {
		font-size: 20px;
	}
	.Image_container p {
		font-size: 15px;
	}
}
