.ServiceCard {
    height: 320px;
    width: 200px;
    /* border: 1px solid #eee; */
    margin-right: 60px;
    position: relative;
    transition: all 0.2s linear;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 8px hsla(0, 0%, 0%, 0.05);
}
.Title{
    display: flex;
    justify-content: center;
    text-align: center;
}
.Title h3{
    margin: 0;
    margin-top: -8px;
}

.Image {
    width: 95%;
    height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
}

.Image img {
    margin-left: 5px;
    padding-top: 5px;
    height: 90%;
    aspect-ratio: 1;
    border-radius: 10px;
}

@media only screen and (max-width: 1400px) {
    .ServiceCard {
        height: 220px;
        width: 140px;
        margin-right: 40px;
        
        position: relative;
        transition: all 0.2s linear;
        border-radius: 5px;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 5px 8px hsla(0, 0%, 0%, 0.05);
    }
}