.BeforeandAfter {
    height: 600px;
    background-color: #F9FAFC;
    display: flex;
}

.Container {
    display: flex;
    margin-left: 100px;
}

.Container p{
    width: 300px;
    margin-left: 100px;
    font-size: 17px;
}
.Container h1{
    margin-top: 150px;
    margin-left: 100px;
}

.ImageContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    transition: all 0.2s linear;
    margin-right: 28px;
}

.SubImage{
    height: 304px;
}

.ImageContainer img {
    transition: all 0.2s linear;
    width: 400px;
    border-radius: 10px;
    border: 2px solid #76A328;
}

.BeforeIMagethree{
    height: 304px !important;
    width: 100% !important;
}

.Buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.BeforeButton {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #fff;
    border: 1px solid #76A328;
    color: #76A328;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-right: 0;
    transition: all 0.2s linear;
    font-size: 15px;
}

.AfterButton {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
    border: 1px solid #76A328;
    color: #76A328;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-left: 0;
    transition: all 0.2s linear;
    font-size: 15px;
}

.BeforeButton_select {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #76A328;
    border: 1px solid #76A328;
    color: white;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-right: 0;
    transition: all 0.2s linear;
    font-size: 15px;
}

.AfterButton_select {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #76A328ff;
    border: 1px solid #76A328;
    color: white;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-left: 0;
    transition: all 0.2s linear;
    font-size: 15px;
}