.BeforeandAfter {
	height: 450px;
	width: 100%;
	overflow: hidden;
	background-color: #f9fafc;
	display: flex;
}

.Container {
	display: flex;
	margin-left: 100px;
}

.Container p {
	width: 300px;
	margin-left: 100px;
	line-height: 26px;
	font-size: 16px;
	color: rgb(36, 36, 36);
}
.Container h1 {
	margin-top: 150px;
	margin-left: 100px;
}

.ImageContainer {
	display: flex;
	flex-direction: column;
	width: 400px;
	justify-content: center;
	transition: all 0.2s linear;
	margin-right: 28px;
}

.SubImage {
	height: 220px;
}

.ImageContainer img {
	transition: all 0.2s linear;
	width: 400px;
	border-radius: 10px;
	height: 200px;
	/* border: 2px solid #76A328; */
}

.BeforeIMagethree {
	height: 200px !important;
	width: 100% !important;
}

.Buttons {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.BeforeButton {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: #fff;
	border: 1px solid #76a328;
	color: #76a328;
	outline: none;
	cursor: pointer;
	height: 40px;
	width: 100px;
	border-right: 0;
	transition: all 0.2s linear;
	font-size: 15px;
}

.AfterButton {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: #fff;
	border: 1px solid #76a328;
	color: #76a328;
	outline: none;
	cursor: pointer;
	height: 40px;
	width: 100px;
	border-left: 0;
	transition: all 0.2s linear;
	font-size: 15px;
}

.BeforeButton_select {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: #76a328;
	border: 1px solid #76a328;
	color: white;
	outline: none;
	cursor: pointer;
	height: 40px;
	width: 100px;
	border-right: 0;
	transition: all 0.2s linear;
	font-size: 15px;
}

.AfterButton_select {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: #76a328ff;
	border: 1px solid #76a328;
	color: white;
	outline: none;
	cursor: pointer;
	height: 40px;
	width: 100px;
	border-left: 0;
	transition: all 0.2s linear;
	font-size: 15px;
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
	.ImageContainer {
		display: flex;
		flex-direction: column;
		width: 304px;
		justify-content: center;
		transition: all 0.2s linear;
		margin-right: 28px;
	}

	.SubImage {
		height: 228px;
	}

	.ImageContainer img {
		transition: all 0.2s linear;
		width: 304px;
		border-radius: 10px;
	}

	.BeforeIMagethree {
		height: 228px !important;
		width: 100% !important;
	}
}

@media only screen and (max-width: 1400px) {
	.BeforeandAfter {
		height: 450px !important;
	}
	.BeforeButton {
		width: 80px;
	}

	.AfterButton {
		width: 80px;
	}

	.BeforeButton_select {
		width: 80px;
	}

	.AfterButton_select {
		width: 80px;
	}

	.Container {
		margin-left: 30px;
	}

	.Container p {
		width: 200px;
		margin-left: 20px;
		line-height: 26px;
		font-size: 14px;
		color: rgb(36, 36, 36);
	}
	.Container h1 {
		margin-top: 150px;
		margin-left: 20px;
	}

	.ImageContainer {
		display: flex;
		flex-direction: column;
		width: 304px;
		justify-content: center;
		transition: all 0.2s linear;
		margin-right: 28px;
	}

	.SubImage {
		height: 220px;
	}

	.ImageContainer img {
		transition: all 0.2s linear;
		width: 304px;
		border-radius: 10px;
		/* border: 2px solid #76A328; */
	}

	.BeforeIMagethree {
		height: 200px !important;
		width: 100% !important;
	}
}

@media only screen and (max-width: 500px) {
	.BeforeandAfter {
		height: 100% !important;
		padding-bottom: 30px;
		padding-top: 15px;
	}
	.Container {
		flex-direction: column;
		margin-left: 30px;
		height: 100%;
	}

	.BeforeButton {
		width: 80px;
	}

	.AfterButton {
		width: 80px;
	}

	.BeforeButton_select {
		width: 80px;
	}

	.AfterButton_select {
		width: 80px;
    }
    
	.Container h1 {
        margin-top: 10px;
		margin-left: 0px;
	}

	.ImageContainer {
		display: flex;
		flex-direction: column;
		width: 304px;
		justify-content: center;
		transition: all 0.2s linear;
		padding-bottom: 10px;
	}

	.SubImage {
        height: 215px;
        margin-top: 10px;
	}

	.ImageContainer img {
		transition: all 0.2s linear;
		width: 304px;
		border-radius: 10px;
		/* border: 2px solid #76A328; */
	}

	.BeforeIMagethree {
		height: 200px !important;
		width: 100% !important;
	}
}
