.Socials{
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 50px;
    align-items: center;
}

.Socials img{
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.linkedin{
    height: 36px !important;
    border-radius: 0 !important;
    transition: all 0.2s linear;
}

.Socials img:hover{
    transition: all 0.2s linear;
    box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.4);
}