.Socials_mobile{
    position: absolute;
    display: flex;
    bottom: 70px;
    left: 20px;
    align-items: center;
}

.Socials_desktop{
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50px;
    align-items: center;
}

.Socials_desktop img{
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.Socials_mobile img{
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.linkedin{
    height: 36px !important;
    border-radius: 0 !important;
    transition: all 0.2s linear;
}

.Socials_desktop img:hover{
    transition: all 0.2s linear;
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.4);
}